<div class="conts">
										<p>
											Contattateci
										</p>
										<input type="text" name="" id="input__forme" class="definp" placeholder="" autocomplete="off">
										<span class="span__text" id="span__top1">
											il tuo nome
										</span>
										<input type="email" name="" id="gmail__forme" class="definp" placeholder="" autocomplete="off">
										<span class="span__text" id="span__top2">
											la vostra posta
										</span>
										<p class="choose">
											Scegliere un servizio
										</p>
									</div>