<div class="conts">
												<p>
													Contattateci
												</p>
												<input type="text" name="" id="name__change" class="definp inp__name" placeholder="" autocomplete="off" required>
												<span class="span__text" id="span__bot1">
													il tuo nome
												</span>
												<input type="gmail" name="" id="gmail__change" class="definp inp__gmail" placeholder="" autocomplete="off" required>
												<span class="span__text" id="span__bot2">
													la vostra posta
												</span>
												<p class="choose">
													Scegliere un servizio
												</p>
											</div>
