<fieldset class="radioopt">
										<div class="scrolld">
											<div class="raddiv">
												<div class="paddonly">
													<label>
														Layout del sito web
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
											<div class="raddiv">
												<div class="paddonly">
													<label>
														Impostazione del server
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
											<div class="raddiv">
												<div class="paddonly">
													<label>
                                                        Aggiornare il codice del progetto e migliorare il design
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
											<div class="raddiv">
												<div class="paddonly">
													<label>
														Consultazione
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
											<div class="raddiv">
												<div class="paddonly">
													<label>
														La vostra versione
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
											<div class="raddiv">
												<div class="paddonly">
													<label>
														Nessuna delle opzioni
													</label>
													<div class="chooseot">
													</div>
												</div>
											</div>
										</div>
									</fieldset>