            <div class="failed" id="form_send" style="border-color: green">
                <div class="insuce">
                    {% if code == 'ua' %}
                    <p>Форма відправлена</p>
                    {% endif %}
                    {% if code == 'en' %}
                    <p>Form sent</p>
                    {% endif %}
                    {% if code == 'it' %}
                    <p>Modulo inviato</p>
                    {% endif %}
                </div>
            </div>