<div class="gap__me">
											<a href="{% url 'cookie_trans' lang_code='en' %}" class="linkt">
												<p>
													Cookie
												</p>
											</a>
											<a href="{% url 'terms_trans' lang_code='en' %}" class="linkt">
												<p>
													Terms of use
												</p>
											</a>
											<a href="{% url 'deadlines_trans' lang_code='en' %}" class="linkt">
												<p>
													Terms of execution
												</p>
											</a>
											<a href="" class="linkt">
												<p>
													Recruitments
												</p>
											</a>
											<a href="{% url 'privacy_trans' lang_code='en' %}" class="linkt">
												<p>
													Privacy
												</p>
											</a>
										</div>
<div class="gap__me">
											<a href="{% url 'main_trans' lang_code='en' %}#home__page" class="linkt">
												<p>
													Home
												</p>
											</a>
											<a href="{% url 'main_trans' lang_code='en' %}#specialty" class="linkt">
												<p>
													Services
												</p>
											</a>
											<a href="{% url 'main_trans' lang_code='en' %}#advantages" class="linkt">
												<p>
													Benefits
												</p>
											</a>
											<a href="{% url 'main_trans' lang_code='en' %}#faq__qq" class="linkt">
												<p>
													FAQ
												</p>
											</a>
											<a href="{% url 'main_trans' lang_code='en' %}#blog__us" class="linkt">
												<p>
													IT blog
												</p>
											</a>
										</div>