<div class="gap__me">
											<a href="{% url 'cookie_trans' lang_code='it' %}" class="linkt">
												<p>
													Cookie
												</p>
											</a>
											<a href="{% url 'terms_trans' lang_code='it' %}" class="linkt">
												<p>
													Condizioni d'uso
												</p>
											</a>
											<a href="{% url 'deadlines_trans' lang_code='it' %}" class="linkt">
												<p>
                                                    Condizioni di esecuzione
												</p>
											</a>
											<a href="" class="linkt">
												<p>
													Occupazione
												</p>
											</a>
											<a href="{% url 'privacy_trans' lang_code='it' %}" class="linkt">
												<p>
													Tutela dei dati personali
												</p>
											</a>
										</div>
<div class="gap__me">
											<a href="#home__page" class="linkt">
												<p>
													Casa
												</p>
											</a>
											<a href="#specialty" class="linkt">
												<p>
													Servizi
												</p>
											</a>
											<a href="#advantages" class="linkt">
												<p>
													Nostra lavori
												</p>
											</a>
											<a href="#faq__qq" class="linkt">
												<p>
													Domande frequenti
												</p>
											</a>
											<a href="#blog__us" class="linkt">
												<p>
													Blog IT
												</p>
											</a>
										</div>