<div class="link__holder">
						<div class="clicker" id="main__home" onclick="window.location.href='{% url 'main_trans' lang_code=code %}#home__page'">
							<p class="go__to">
								{% if code == 'en' %}
                                    Home
                                    {% else %}
                                    Casa
                                {% endif %}
							</p>
						</div>
						<div class="clicker" id="main__props" onclick="window.location.href='{% url 'main_trans' lang_code=code %}#specialty'">
							<p class="go__to">
								{% if code == 'en' %}
                                    Services
                                    {% else %}
                                    Servizi
                                {% endif %}
							</p>
						</div>
						<div class="clicker" id="main__adv" onclick="window.location.href='{% url 'main_trans' lang_code=code %}#portfolio__us'">
							<p class="go__to">
								{% if code == 'en' %}
                                    Our works
                                    {% else %}
                                    Nostra lavori
                                {% endif %}
							</p>
						</div>
						<div class="clicker" id="main__develop" onclick="window.location.href='{% url 'main_trans' lang_code=code %}#faq__qq'">
							<p class="go__to">
								{% if code == 'en' %}
                                    FAQ
                                    {% else %}
                                    Domande frequenti
                                {% endif %}
							</p>
						</div>
						<div class="clicker" id="main__blog" onclick="window.location.href='{% url 'main_trans' lang_code=code %}#blog__us'">
							<p class="go__to">
								{% if code == 'en' %}
                                    Our blog
                                    {% else %}
                                    Blog IT
                                {% endif %}
							</p>
						</div>
					</div>