<div class="link__holder">
						<div class="clicker" id="main__home" onclick="window.location.href='{% url 'main' %}#home__page'">
							<p class="go__to">
								Головна
							</p>
						</div>
						<div class="clicker" id="main__props" onclick="window.location.href='{% url 'main' %}#specialty'">
							<p class="go__to">
								Послуги
							</p>
						</div>
						<div class="clicker" id="main__adv" onclick="window.location.href='{% url 'main' %}#portfolio__us'">
							<p class="go__to">
								Наші роботи
							</p>
						</div>
						<div class="clicker" id="main__develop" onclick="window.location.href='{% url 'main' %}#faq__qq'">
							<p class="go__to">
								Популярні запитання
							</p>
						</div>
						<div class="clicker" id="main__blog" onclick="window.location.href='{% url 'main' %}#blog__us'">
							<p class="go__to">
								Наш блог
							</p>
						</div>
					</div>