								<div class="newasa">
									<a href="{% url 'main_trans' lang_code='it' %}#home__page">
										<p class="navtext">Casa</p>
									</a>
								</div>
								<div class="newasa">
									<a href="{% url 'main_trans' lang_code='it' %}#specialty">
										<p class="navtext">Servizi</p>
									</a>
								</div>
								<div class="newasa our__qq">
									<a href="{% url 'main_trans' lang_code='it' %}#scrollto__works">
										<p class="navtext">Nostra lavori</p>
									</a>
								</div>
								<div class="newasa pop__qq">
									<a href="{% url 'main_trans' lang_code='it' %}#scrollto__faq">
										<p class="navtext">Domande frequenti</p>
									</a>
								</div>
								<div class="newasa wasaa">
									<a href="{% url 'main_trans' lang_code='it' %}#scrollto__bloger">
										<p class="navtext">Blog IT</p>
									</a>
								</div>