												<span class="span__text" id="span__form__bot">
													il tuo messaggio
												</span>
												<span class="span__text" id="span__form__tp">
													il vostro telefono
												</span>
												<input type="number" id="phone__change" class="inpphone definp" placeholder="" autocomplete="off" readonly>
												<textarea name="texte" id="text__send__bot" class="message__send" placeholder="" autocomplete="off"></textarea>
												<small class="inf__o">
													Il nostro team di assistenza vi contatterà a breve
												</small>
												<button type="submit" class="send__form">
													<p>Inviare</p>
												</button>