#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
    --swiper-pagination-bullet-inactive-color: rgba(255,255,255,0.3);
    --swiper-pagination-color: #ffffff;
    --swiper-navigation-color: #ffffff;
    --color-stop: rgba(132, 6, 227, 1);
    --color-bot: rgba(240, 123, 44, 1);
    font-family: 'Roboto', sans-serif;
}
.mainbrdr {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
}
section {
    display: block;
}
.first {
    height: auto;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('img/home.png');
}
.viewbr {
    border: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
}
.brdrex {
    border-top: none;
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(20px);
}
.navnav {
    height: 100px;
}
.mndiv {
    margin: 0 5%;
    display: flex;
    flex-direction: row;
}
.line {
    border-left: 1px solid rgba(255,255,255,0.2);
    gap: 30px;
}
.brdr {
    border: 1px solid rgba(255,255,255,0.3);
    cursor: pointer;
    border-radius: 15px;
    display: flex;
}
.szof {
    padding: 6px;
}
.szof1 {
    padding: 11px;
}
.ms-auto {
    align-items: center;
}
.navtext {
    font-size: 18px;
    margin: 0;
    padding: 20px 40px;
}
.sztext {
    height: 49px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.5px;
}
.bbbb {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 15px;
  display: flex;
}
.searchField {
    display: flex;
    background-color: transparent;
    border: none;
    transition: width 0.5s;
    width: 0px;
    padding: 0;
    margin-left: 0px;
}
.menu-toggle {
    width: 49px;
    height: 49px;
    display: flex;
    cursor: pointer;
}
.menu-toggle div {
    width: 100%;
    position: relative;
}
.menu-toggle span {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    background: #fff;
    top: 50%;
    transition: transform 0.5s, width 0.5s;
}
.menu-toggle .menu-toggle-bar--top {
    transform: translate(0, -8px);
    width: 50%;
    right: 0;
}
.menu-toggle .menu-toggle-bar--bottom {
    transform: translate(0, 8px);
}
.nobrd {
    border: none !important;
}
.openmenu .menu-toggle-bar--top {
    transform: translate(0, 0px) rotate(45deg);
    width: 100%;
}
.openmenu .menu-toggle-bar--bottom {
    transform: translate(0, 0px) rotate(-45deg);
    width: 100%;
}
.nbarext {
    display: flex;
    flex-direction: row;
    transition: width 0.5s;
    width: 0px;
    visibility: hidden;
}
.visible {
    visibility: visible;
    width: auto;
}
.secnd {
    display: block;
}
.twocolumn {
    display: flex;
    justify-content: space-between;
    --bs-gutter-x: 1.5rem;
}
.secnd .twocolumn {
    margin-top: 400px;
}
.name {
    font-size: 96px;
    color: #ffffff;
    font-weight: bold;
}
.under {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 5px;
}
.title { 
    display: flex;
    flex-direction: column;
}
.optrow {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.optrow .brdr {
    border: 4px solid rgba(255,255,255,0.3);
}
.options .optrow {
    margin-top: 20px;
}
.nmand {
    margin-top: auto;
}
.visible .navtext {
    padding: 15px 15px;
}
.footer1 {
    display: flex;
    padding: 40px 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.bottm {
    margin-top: 50px;
}
.opts {
    width: 22%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.opts .under {
    color: rgba(255, 255, 255, 1);
    word-break: break-word;
}
.bottm {
    border-left: none;
    border-right: none;
    backdrop-filter: blur(40px);
}
.whitestripe {
    height: 7px;
    background: #ffffff;
    display: block;
    border-radius: 15px;
}
.third {
    width: 100%;
}
.blog {
    background: #1f1f1f;
    padding: 100px 0px 0px 0px;
}
.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside .navtext {
    font-size: 24px;
}
.rght {
    position: relative;
    background: transparent;
}
.rightside .rght {
    background: linear-gradient(#1f1f1f, #1f1f1f) padding-box,
        linear-gradient(to right, rgba(240, 123, 44, 1), rgba(132, 6, 227, 1)) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
}
.rght:hover {
    background: linear-gradient(to right, rgba(240, 123, 44, 1), rgba(132, 6, 227, 1)) border-box;
}
.mainswiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.contentswiper {
    width: 1200px;
    height: 600px;
    border-width: 2px;
    border-radius: 30px;
}
.slidecontent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.imagecont {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sizeof {
    width: 550px;
    height: 550px;
}
.txtcont {
    display: flex;
    flex-direction: column;
}
.sizeof1 {
    display: block;
    width: 100%;
}
.icons {
    margin-top: auto;
    display: flex;

}
.sheader {
    font-size: 36px;
    color: #ffffff;
    line-height: 60px;
}
.stext {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}
.range {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    cursor: pointer;
}
.icon2 {
    margin-left: 15px;
}
.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 700px;
}
.containercont {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.imginside {
    /* width: 100%;
    height: 100%; */
    object-fit: fill;
}
.eximg {
    overflow: hidden;
}
.brdrez {
    transition: border 0.5s, background-color 0.5s;
    border-width: 2px;
    background-color: transparent;
}
.brdrez:hover {
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
.icon1:hover .strokechange {
    stroke: url(#gradient);
}
.active {
    fill: url(#gradient);
    stroke: url(#gradient);
}
.icon2:hover .strokechange {
    stroke: #0075FF;
}
.title4 {
    display: block;
    width: 100%;
}
.mainopt {
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.fouropt {
    display: flex;
    width: auto;
    gap: 35px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.sizew {
    width: 560px;
    height: 280px;
    border-width: 2px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
/* .bg1 {
    background-image: url('img/bg1.png');
} */
.bg3 {
    background-image: url('img/bg3.png');
}
.bg2 {
    background-image: url('img/bg2.png');
}
.bg4 {
    background-image: url('img/bg4.png');
}
.insideof {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2rem;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
.opttxt {
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    opacity: 1;
}
.opttxtsm {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    margin-top: auto;
    transition: all 0.5s;
}
.absl {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 2rem;
    margin-right: 2rem;
    opacity: 0;
    transition: opacity 0.5s;
}
.insideof:hover .absl{
    opacity: 1;
}
.insideof:hover .opttxt {
    opacity: 0;
    display: none;
}
.intext {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    max-height: 0;
    width: 350px;
    opacity: 0;
    transition: max-height 0.5s, opacity 0.5s;
}
.insideof:hover .intext {
    max-height: 500px;
    opacity: 1;
}
.insideof:hover .opttxtsm {
    font-size: 48px;
}