{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/error_style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="overlay">
        <div class="team">
            <div class="text">
                <span>Упс...</span>
                <span>Щось пішло не так</span>
                <span>Схоже що ця сторінка переїхала</span>
            </div>
            <div class="num">
                <img src="{% static 'media/img/number.svg' %}" alt="">
            </div>
            <div class="buton">
                <button>
                    <a href="{% url 'main' %}"><span>На головну</span></a>
                </button>
            </div>
        </div>

        <img class="black" src="{% static 'media/img/background.png' %}" alt="">
    </div>
</body>
</html>